@page
@model SpotifyR.CallbackModel
<div id="hide" class="hide-right">
    <div id="loader" class="loader abloh">
        <svg viewBox="0 0 80 80">
            <circle id="test" cx="40" cy="40" r="32"></circle>
        </svg>
    </div>
</div>
<div id="left" class="section">
    @if(@Model.status){
        <h2 id="state1-h" class="abloh">authentication<br/>successful</h2>
    }
    else{
        <h2 id="state2-h" class="abloh">invalid<br/>state</h2>
    }    
</div>
<div id="right" class="section">
    <h3 id="what" class="abloh"></h3>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            var url = new URL(window.location.href);
            var status = "@Model.status";
            var whatList = ["generating grid","assessing preferences","browsing library","calculating suggestions","calling api","testing tokens","exploring artists","analyzing albums","downloading tracks"];
            if(status == "False"){
                $("#what").text("redirecting");
            } else {
                $("#what").text(whatList[Math.floor(Math.random()*whatList.length)+1]);
            }
            setTimeout(function() {
                if (status == "True") {
                    window.location.href = "/dashboard";
                } else {
                    window.location.href = "/";
                }
            }, 4000);
            setInterval(function(){
                swapHide();
            }, 3000);
            function swapHide(){
                if($("#hide").hasClass("hide-right")){
                    $("#hide").removeClass("hide-right");
                    $("#hide").addClass("hide-left");
                    $("#what").text(whatList[Math.floor(Math.random()*whatList.length)+1]);
                    $("#what").removeClass("invis");
                } else {
                    $("#hide").removeClass("hide-left");
                    $("#hide").addClass("hide-right");
                    $("#what").addClass("invis");
                }
            };
        });
    </script>
}
@section styles{
    <link rel="stylesheet" href="~/callback.css" />
    <link rel="stylesheet" href="~/callback_anim.css" />
}