@page
@model SpotifyR.CallbackModel
<div id="left" class="section">
    @if((bool)@ViewData["status"]){
        <h2 id="state1-h" class="abloh">authentication<br/>successful</h2>
    }
    else{
        <h2 id="state2-h" class="abloh">invalid<br/>state</h2>
    }    
</div>
<div id="right" class="section">
    @if((bool)@ViewData["status"]){
        <h3 id="step1-h" class="abloh">analysing your spotify library</h3>
        <h3 id="step2-h" class="abloh">browsing artists</h3>
        <h3 id="step3-h" class="abloh">exploring albums</h3>
        <h3 id="step4-h" class="abloh">selecting tracks</h3>
        <h3 id="step5-h" class="abloh">removing duplicates</h3>
        <h3 id="step6-h" class="abloh">shuffling</h3>
        <h3 id="step7-h" class="abloh">generati1ng grid</h3>
    }
    else{
        <h3 id="redirect-h" class="abloh">redirecting</h3>
    }
</div>
@section scripts{
    <script>
        $(document).ready(function() {
        //$(".abloh").addClass("load");
        var url = new URL(window.location.href);
        var status = '@ViewData["status"]';
        setTimeout(function() {
            if (status == "True") {
                var code = url.searchParams.get("code");
                window.location.href = "Dashboard?code=" + code;
            } else {
                window.location.href = "/";
            }
        }, 1500);
});
    </script>
}
@section styles{
    <link rel="stylesheet" href="~/callback.css" />
}