@page
@model SpotifyR.CallbackModel
<div id="left" class="section">
   <h2 id="state-h" class="abloh">@ViewData["state"]</h2>
</div>
<div id="right" class="section">
    <h3 id="action-h" class="abloh">redirecting</h3>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#action-h").addClass("load");
            var url = new URL(window.location.href);
            var status = '@ViewData["status"]';
            if (status){
                var code = url.searchParams.get("code");
                setTimeout(function () {
                    window.location.href = 'Dashboard?code=' + code;
                }, 1500)

            } else {
                setTimeout(function () {
                    window.location.href = '/';
                }, 1500)
            }
        });
    </script>
}
@section styles{
    <link rel="stylesheet" href="~/callback.css" />
}