@page
@model SpotifyR.DashboardModel
<header>
    <span></span>
    <img src="img/logo.png">
    <span></span>
</header>
<main>
    <div id="grid-container">
        @foreach (var track in Model.NEW_RELEASES){
            <div>track.name</div>
        }
    </div>
</main>