#left,
#right {
  background: var(--dark);
  color: var(--green);
}
#state1-h {
  top: 27%;
  left: 39%;
}
#state2-h {
  top: 34%;
  left: 51%;
}
#loader.abloh {
  top: 45%;
  left: 45%;
}
#what {
  top: 40%;
  left: 40%;
  opacity: 100%;
  transition: 1s ease;
}
#what.invis {
  opacity: 0;
}
