#left,
#right {
  background: var(--dark);
  display: grid;
  padding: 2vw;
  padding-left: 3vw;
  grid-template-columns: repeat(2, 380px);
  gap: 5vw;
  overflow: auto;
}
.grid-block {
  background: var(--green);
  height: 110px;
  margin-bottom: 5vw;
  overflow: hidden;
  position: relative;
  box-shadow: 8px 16px -8px rgba(0, 0, 0, 1);
  border-radius: 6px;
}
.grid-block-inside {
  height: 80px;
}
.grid-block-bottom {
  background: var(--darker);
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.grid-block-bottom span {
  color: rgba(255, 255, 255, 0.7);
}
.grid-block-additional {
  height: 80px;
  position: absolute;
  width: 80px;
  transition: 0.4s;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.grid-block-left {
  height: 80px;
  width: 80px;
  position: relative;
  float: left;
  text-align: center;
}
.iframe-container {
  float: left;
  position: absolute;
  left: 80px;
  width: 300px;
  height: 80px;
  background: var(--dark);
}
.grid-block-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  height: 80px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.grid-block-content {
  height: 80px;
  padding: 5px;
  overflow: hidden;
}
.grid-block-bottom:hover button {
  opacity: 100%;
  visibility: visible;
}
.grid-block-bottom span {
  cursor: default;
}
.like,
.hate {
  border: none;
  width: 50px;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease;
  background: none;
}
.like {
  color: #39a05d;
}
.hate {
  color: #b92a1d;
}
.grid-block-additional:hover {
  width: 100%;
  border-radius: 0 5px 5px 0;
}
.grid-block-additional:hover .node-icon {
  top: 24%;
}
.grid-block-additional:hover .preview-h {
  top: 22%;
}
.title-container {
  width: 300px;
}
h5,
h6 {
  white-space: nowrap;
  margin: 0;
  margin-bottom: 6px;
  transform: translateX(0);
  transition: 4s ease;
}
h5 {
  font-size: 1em;
  font-weight: 900;
}
h6 {
  font-size: 0.8em;
  font-weight: 100;
}
.scrollable:hover h5,
.scrollable:hover h6 {
  transform: translateX(calc(100% - 400px));
}
.node-icon {
  position: relative;
  top: 18%;
  transition: 1s ease;
}
.preview-h {
  position: relative;
  top: 30%;
  transition: 1s ease;
}
.grid-right {
  margin-top: 5vw;
}
#dash-recommend-h {
  width: 300px;
  cursor: pointer;
  top: 7%;
  left: 60%;
}
#dash-recommend-p {
  width: 300px;
  top: 1%;
  left: 65%;
}
#dash-recommend-go {
  width: 300px;
  top: 3%;
  left: 65%;
  font-size: 0.6em;
  opacity: 100%;
  width: 340px;
  transition: 0.5s ease;
}
#dash-new-h {
  width: 300px;
  cursor: pointer;
  top: 39%;
  left: 8%;
}
#dash-new-p {
  width: 300px;
  top: 35%;
  left: 3%;
}
#dash-new-go {
  width: 300px;
  top: 35%;
  left: 30%;
  font-size: 0.6em;
  opacity: 100%;
  transition: 0.5s ease;
}
#dash-recommend-go.invis,
#dash-new-go.invis {
  opacity: 0;
}
