@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
html {
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  --green: #1db954;
  --darker: #121212;
  --dark: #212121;
  --light: #535353;
  --lighter: #b3b3b3;
}
body {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
#left {
  background: var(--green);
  color: var(--darker);
}
#right {
  background: var(--darker);
  color: var(--green);
}
.section {
  flex: 50%;
  height: 100%;
}
