@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
html {
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  --green: #1db954;
  --darker: #121212;
  --dark: #212121;
  --light: #535353;
  --lighter: #b3b3b3;
  scrollbar-color: transparent transparent;
}
body {
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.section {
  flex: 50%;
  height: 100%;
}
h1 {
  font-weight: 900;
  font-size: 5em;
}
h2 {
  font-weight: 100;
  font-size: 3.5em;
}
h3 {
  font-weight: 100;
  font-size: 2em;
}
h4 {
  font-weight: 100;
  font-size: 1em;
}
p {
  font-weight: 100;
  font-size: 0.9em;
}
.abloh {
  position: relative;
  word-wrap: break-word;
  z-index: 1;
}
.nonsense-number {
  font-weight: 900;
  font-size: 2em;
  opacity: 0;
  transition: 0.8s ease;
}
.nonsense-number.load {
  opacity: 1;
}
